h1{
  text-align: center;
}


.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin-left: 15%;
  }

.small{
 width: 1000px;

}


fieldset fieldset{
    margin-top: 12px;
    border: 1px solid #39C;
    padding: 12px;
    border-radius: 8px;
}

fieldset fieldset legend {
    font-size: 15px;
    color: #39C;
    font-style: italic;
    padding-left: 12px;
    padding-right: 12px;
}

#imgstore img{
  padding-top: 2px;
  padding-bottom: 2px;
  width: 200px;
  height: 200px
}

#imgstore {
  position:relative;
}
